.scroll-wrap {
  position: absolute;
  right: 0px;
  bottom: 0px;
  top: 0px;
  background-color: rgb(79, 75, 105);
  /* height: 100%; */
  width: 5px;
  opacity: 0;
  z-index: 1;
  transition: opacity .3s ease;
}

.scroll-bar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(101, 104, 136);
  min-width: 5px;
  /* min-height: 10px; */
  opacity: .5;
  /* height: 20px; */
  transition: opacity .1s ease, transform .3s ease-out;
  z-index: 2;
  /* border-radius: 3px; */
}

.scroll-bar:hover {
  opacity: 1;
}

.scroll-wrap:hover {
  width: 8px;
}

.scroll-wrap:hover .scroll-bar {
  opacity: .8;
  width: 8px;
}

.scroll-wrap.active {
  opacity: .8;
  width: 8px;
}

.scroll-wrap.active .scroll-bar {
  width: 8px;
  opacity: .8;
}