.birthday__wrap {
  &:after {
    display: block;
    content: '';
    width: 1px;
  }
}

.birthday__item {
  color: #fff;
  min-height: 20px;
  display: block;
  margin: 15px 0;
  cursor: pointer;
  position: relative;
}

.birthday__hover {
  min-height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.2;
  z-index: 1;
}

.birthday__hover:hover + p {
  opacity: 1;
}

.birthday__name {
  opacity: 0.4;
  line-height: 25px;
  font-size: 1.4rem;
  transition: opacity 0.2s ease;
}

.birthday__date {
  float: right;
  text-align: right;
  font-size: 1rem;
}

.birthday__age {
  opacity: 0.4;
  font-size: 1.2rem;
  display: block;
  clear: both;
}

.birthday-list__wrap {
  margin-top: 25px;
  padding-bottom: 100px;
}

.birthday-list__header {
  font-size: 1.2rem;
  color: #8992ca;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 15px 0;
}
