.contact-page__inner {
  padding: 20px 30px 20px 30px;
  box-sizing: border-box;
  width: calc(100% - 80px);
  min-height: 100%;
}

.contact-page__fieldWrap {
  display: flex;
  // margin-bottom: 10px
}

.contact-page__value {
  font-size: 14px;
  min-width: 100px;
  padding: 10px 10px 10px 0;
  color: #24293f;
}

.contact-page__label {
  font-size: 14px;
  min-width: 150px;
  font-weight: 400;
  padding: 10px 10px 10px 0;
  color: #2f3242;
}

.contact-page__avatarWrap {
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  height: 120px;
  width: 120px;
  min-height: 120px;
  min-width: 120px;
  overflow: hidden;
  margin-right: 20px;
  border-radius: 150px;
  background-color: #10b1df;
  margin-bottom: 20px;

  &:hover {
    background-color: lighten(#10b1df, 5%);
  }
}

.contact-page__avatar {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-page__letters {
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
}
