.logo-wrap {
  height: 75px;

  .logo-wrap {
    display: none;
  }
}

.logo-text {
  color: white;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 75px;
  text-align: center;
  white-space: nowrap;
}
