.main-scrollbar__bar {
  position: absolute;
  right: 0px;
  bottom: 0px;
  top: 75px;
  background-color: #ddd;
  width: 5px;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.3s ease;
  height: calc(100% - 75px);

  &:hover {
    width: 8px;
    & .bar {
      opacity: 0.8;
      width: 8px;
    }
  }

  &:hover &.active {
    opacity: 0.8;
    width: 8px;
    & .bar {
      width: 8px;
      opacity: 0.8;
    }
  }
}

.main-scrollbar__thumb {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #444;
  min-width: 5px;
  opacity: 0.5;
  transition: opacity 0.1s ease, transform 0.3s ease-out;
  z-index: 2;

  &:hover {
    opacity: 1;
  }
}
