.container
  border-radius: 2px
  box-sizing: border-box
  max-height: 300px
  min-width: 100px 
  overflow: hidden
  position: fixed
  z-index: 10
  box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);

.inner  
  background-color: #fff

.item
  
  padding: 10px 20px
  min-height: 10px
  width: 100%
  background-color: #eee
  cursor: pointer
  transition: background-color .3s ease
  

.item:hover
  background-color: darken(#eee, 10%) 

.title
  color: black
  font-size: 16px
  margin-bottom: 2px
