.wrap
  margin-left: auto
  // margin-top: -13px

.menu
  color: #555
  cursor: pointer
  font-weight: bold
  font-size: 1.6rem
  // letter-spacing: 1px
  text-align: right
  &:after
    content: "\00B7\00B7\00B7"